<div class="col-md-12 public-nav-bar fixed-top">
  <div class="row">

    <div class="col-md-9">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="col-md-3">
      <div class="social-media-links">
        <a class="anchor-social" href="">
          <i class="fa fa-facebook"></i>
        </a>

        <a class="anchor-social" href="">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="anchor-social" href="">
          <i class="fa fa-wordpress"></i>
        </a>
      </div>
    </div>
  </div>

</div>