<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-md  fixed-top">

      <a class="navbar-brand" href="https://www.icocluster.com">ICOCluster.com</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">UPCOMING</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">ONGOING</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">COMPLETED</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">HISTORY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SUBMIT NEW ICO/AIRDROP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADVERTISE</a>
          </li>
        </ul>
      </div>

    </nav>

  </div>
</div>